html { 
    height: 100vh;

 }

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #111111;
    color: #F6F8FF;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;


}



/* span {
    cursor: default;
}
 */


.page1 {
    width: 100%;
    height: 100vh;
}

.navbar {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 1%;
    
}

.navbar a {
    color: #F6F8FF;
    text-decoration: none;
    margin-left: 24px;
    margin-right: 24px;
    transition: 0.3s;
    background: transparent;
    z-index: 1;
}

.navbar a:hover {
    scale: 1.1;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}


.circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 2px solid  #F6F8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

.smaller-circle {
    border-radius: 50%;
    height: 5px;
    width: 5px;
    border: 2px solid #F6F8FF;
    background-color:  #F6F8FF;
}	

.dashed-line {
    height: 80px;
    border-left: 3px dotted  #F6F8FF;
  }

.dash {
    height: 20px;
    border-left: 3px solid #fff;
    transition: 0.2s;
}

.timeline-instance {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.timeline {
    display: flex;
    justify-content: center;
    width: 78%;
    scale: 0.9;
}

.instance {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: calc(100%/22);
    z-index: 1;

}

.invisible  {
    opacity: 0;
}

.year {
    cursor: default;
  }

.text {
    margin: 5px;
    text-align: center;
    width: 100%;
    height: 60px;
    font-size: small;
}

.screen {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}

.circle:hover {
    box-shadow: 0 5px 15px #afe0f5;
    scale: 1.1;     
}

.dash:hover {
    scale: 1.3;
}

.flexcenter {
    display: flex;
    align-items: center;
}


.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
    z-index: -1;
  }
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }


.introduction {
    background-color: white;
    height: 100%;
    width: 100%;
    min-width: 100%;
    color: #111111;
}

H1 {
    color: #111111;
    font-weight: lighter;
    font-size: 70px;
    padding: 0;
    margin: 0;
}

h2 {

    padding: 0;
    margin: 0;
}
svg, object {
    width: 50px;
    height: 50px;
}

H2 {
    color: #111111;
    font-weight: lighter;
    font-size: 50px;
}
H3 {
    color: #111111;
    font-weight: lighter;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.intro-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 5%;
}

p {
    font-size: larger;
    text-align: justify;
}

.caveat {
    font-family: 'Caveat', cursive;
    font-size: larger;
    background-color: whitesmoke;
}


.projects {
    background-color: white;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;

}

.project-element {
    width: 100%;
    height: 100%;
    background-color: #111111;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.noradius {
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

.img-con img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.hover-info span h2 {
    font-size: 40px;
}
.hover-info span:first-child {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.noflex {
    display:inline-block;
}



.project-section {
    background-color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 5%;
    color: #111111;

    

}

.projecon {
    width: 200px;
    height: 200px;
}

.hover-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    border: 2px solid black;
    border-radius: 26px;
    color: #111111;
    text-align: center;
    opacity: 0; /* hide the element by default */
    transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); /* apply the transition property here */


  }
  
  .project-element:hover .hover-info {
    display: block; /* show the hover-info div when the project-element div is hovered over */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    opacity: 1; /* show the element on hover */

  }

